@base: #f938ab;

.random-generator(@min, @max) {
    @rand: floor(`Math.random() * @{min} + @{max}`);
}

html {
    background-color: black;
}

html:hover {
    background-color: rgb(255,0,0);
    cursor: crosshair;
}

#container:hover {
    background-color: blue;
    padding-left: 50%;
    position: absolute;
}

div#container {
    color: saturate(@base, 5%);
}

#container > h1 {
    border: 1px solid green;
    border-width: 10px;
    position: relative;
    width: 200px;
}
