<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="dist/assets/css/main.css">
    <title>HELLO BACKBONE</title>
</head>
<body>

    <div id="container">
        <h1>Loading...</h1>
    </div>

    <!-- Libraries (for production we use a cached version hosted on the web, for local development we can use the downloaded js) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>

    <!-- Where the application is initialized or "Bootstrapped", in this simple example no models or controllers, just a view -->
    <script type="text/javascript">
        // Bootstrap call
        var AppView = Backbone.View.extend({
            // Element we will be using, grabbed using jQuery selector (translation: grab the element with the id of container)
            el: $('div#container > h1'),
            template: _.template("<h1>Hello <%= who %></h1>"),
            // Called on instantiation, think constructor
            initialize: function() {
                this.render();
            },
            // This acutally generates what is seen in the app!
            render: function() {
                // Comment this out and you'll only see a loading symbol... figure out why!
                this.$el.html(this.template({who: 'World!'}));
            }
        });
        // Instantiating a new AppView
        var appView = new AppView();
    </script>
</body>
</html>
